<div class="container row">
    <h1>About</h1>
  </div>
  <hr>
  <div class="about-container row container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>About App</h3>
      <p>Angular app with hot beverages</p>
      <h3>About Author</h3>
      <b>Name:</b><p>Ivan Radunković</p>    
      <b>Adress:</b><p>Lička 2a, Osijek 3100</p>
      <b>Phone:</b><p>+395 99 473 1468</p>
      <b>GitHub:</b><p>https://github.com/ivanradunkovic</p>
      <b>LinkedIn:</b><p>https://www.linkedin.com/in/ivan-radunković-a2a836141/</p>
    </div>
    <div class="col-md-1"></div>
  </div>